# yaml-language-server: $schema=../../../.vscode/spring-boot-application.schema.json

spring:
  application:
    name: schedjun-backend
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/schedjun?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
    username: your-username
    password: your-password
   ai:
    deepseek:
      api-key: your-api-key
      base-url: https://api.deepseek.com
      chat:
        options:
          model: deepseek-chat
          temperature: 0.2    # 日程解析偏结构化，温度低一点

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      id-type: auto

server:
  port: 8080
  address: 0.0.0.0
  servlet:
    context-path: /api/v1

schedjun:
  jwt:
    secret: wo-neng-xing
    expires-in: 720000
  iflytek:
    asr:
      app-id: your-app-id
      api-key: your-api-key
      api-secret: your-api-secret
      host: iat-api.xfyun.cn
      path: /v2/iat
      language: zh_cn
      sample-rate: 16000