# yaml-language-server: $schema=../../../.vscode/spring-boot-application.schema.json

spring:
  application:
    name: schedjun-backend
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/schedjun?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
    username: your-username
    password: your-password

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      id-type: auto

server:
  port: 8080
  address: 0.0.0.0
  servlet:
    context-path: /api/v1

schedjun:
  jwt:
    secret: wo-neng-xing
    expires-in: 720000